body {
  box-sizing: border-box;
  background-color: mediumaquamarine;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-table {
  min-width: 400px;
  border-collapse: collapse;
  margin: 20px;
}
.info-table th,
td {
  border: 3px solid black;
  padding: 10px;
}

.info-container {
  background-color: teal;
  min-height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container button {
  margin: 20px;
}
.link {
  color: black;
  background-color: darkcyan;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
}
.link:hover {
  background-color: lawngreen;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: darkcyan;
}
button:hover {
  background-color: lawngreen;
}

input {
  background-color: transparent;
  border: none;
  border: 2px solid rgb(17, 98, 67);
  padding: 10px 10px;
  border-radius: 10px;
}
input:focus,
input:active {
  background-color: transparent;
  border: 2px solid black;
}
